{{- if .Values.addons.sonarqube.enabled }}
{{- /* Create a cleaned copy of sonarqube config and merge deprecated paths into current paths */ -}}
{{- $sonarqubePackage := deepCopy .Values.addons.sonarqube -}}
{{- if .Values.addons.sonarqube.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.addons.sonarqube.values) | fromYaml -}}
{{- $sonarqubePackage = set $sonarqubePackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict "root" $ "package" $sonarqubePackage "name" "sonarqube" "defaults" (include "bigbang.defaults.sonarqube" .)) }}
{{- end }}

{{- define "bigbang.defaults.sonarqube" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.addons.sonarqube.values) (dig "hardened" "enabled" false .Values.istiod.values) (dig "hardened" "enabled" false .Values.addons.sonarqube.values) }}
{{- $postgresEnabled := dig "upstream" "postgresql" "enabled" true .Values.addons.sonarqube.values }}
{{- $plugins := dig "upstream" "plugins" "install" (list) .Values.addons.sonarqube.values }}
{{- $pluginsExist := not (empty $plugins) }}
# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
domain: {{ $domainName }}

# Define variables to help with conditionals later
{{- $istioInjection := and $istioEnabled (eq (dig "istio" "injection" "enabled" .Values.addons.sonarqube) "enabled") }}

OpenShift:
  enabled: {{ .Values.openshift }}

sso:
  enabled: {{ .Values.addons.sonarqube.sso.enabled }}
  {{- if .Values.addons.sonarqube.sso.enabled }}
  idpmetadataurl: {{ .Values.sso.url }}/protocol/saml/descriptor
  {{- end }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or (dig "istio" "hardened" "enabled" false .Values.addons.sonarqube.values) (dig "hardened" "enabled" false .Values.istiod.values) }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: true

routes:
  inbound:
    sonarqube:
      enabled: true
      gateways:
        - {{ include "getGatewayName" (dict "gateway" .Values.addons.sonarqube.ingress.gateway "root" .)}}
      hosts:
        - sonarqube.{{ .Values.domain }}
      service: sonarqube-sonarqube.sonarqube.svc.cluster.local
      port: 9000
      selector:
        app: sonarqube
  outbound:
    bb-tests:
      enabled: {{ dig "bbtests" "enabled" false .Values.addons.sonarqube.values }}
      hosts:
      - repo1.dso.mil
    sonarqube-telemetry:
      enabled: true
      hosts:
      - downloads.sonarsource.com
    sonarqube-marketplace:
      enabled: {{ $pluginsExist }}
      hosts:
      - github.com
      - release-assets.githubusercontent.com

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  ingress:
    definitions: {{ toYaml .Values.networkPolicies.ingress.definitions | nindent 6 }}
    to:
      sonarqube:[8000,8001,9000]:
        podSelector:
          matchLabels:
            app: sonarqube
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
  egress:
    definitions: {{ toYaml .Values.networkPolicies.egress.definitions | nindent 6 }}
    from:
      sonarqube:
        podSelector:
          matchLabels:
            app: sonarqube
        to:
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
          definition:
            sonarsource-marketplace: {{ $pluginsExist }}
            code-repository: false
            database-subnets: {{ not $postgresEnabled }}
            sso: {{ .Values.addons.sonarqube.sso.enabled }}

image:
  pullPolicy: {{ .Values.imagePullPolicy }}
  pullSecret: private-registry

{{- if $istioInjection }}
annotations:
  {{ include "istioAnnotation" . }}
{{- end }}

upstream:
{{- with .Values.addons.sonarqube.database }}
  {{- if and .host .username .password .database .port }}
# External Postgres config
  jdbcOverwrite:
    enabled: true
    jdbcUrl: "jdbc:postgresql://{{ .host }}:{{ .port }}/{{ .database }}?socketTimeout=1500"
    jdbcUsername: {{ .username }}
    jdbcSecretName: sonarqube-db-secret
    jdbcSecretPasswordKey: postgresql-password
  postgresql:
    # Use external database
    enabled: false
  {{- else }}
  postgresql:
    {{- if or $istioInjection $.Values.kiali.enabled}}
    master:
      {{- if $istioInjection }}
      podAnnotations:
        {{ include "istioAnnotation" $ }}
      {{- end }}
    slave:
      {{- if $istioInjection }}
      podAnnotations:
        {{ include "istioAnnotation" $ }}
      {{- end }}
    {{- end }}
    # Use internal database, defaults are fine
    enabled: true
    service:
      port: {{ .port }}
    {{- end }}
  {{- end }}
{{ end -}}

