include:
  - project: "big-bang/pipeline-templates/pipeline-templates"
    ref: "bigbang-3068-find-all-markdown-link-check-configs"
    file: "/pipelines/bigbang.yaml"
variables:
  DEBUG: "true"
  JOB_TYPE: "check_gitlab_access_tokens"
  PIPELINE_REPO_BRANCH: "bigbang-3068-find-all-markdown-link-check-configs"
  #DEBUG_ENABLED: "true"
  MULTI_NODE: "true"
  BB_REPO: repo1.dso.mil/big-bang/bigbang
  #BB_REPO: repo1.dso.mil/big-bang/pipeline-templates/package-validation
  BB_PROJECT_ID: 12985
  BB_AUTO_MR_TOKEN: ${ANDREWSHOELL_FORK_TOKEN}
  DOGFOOD_RO_TOKEN: ${DOGFOOD_RO_TOKEN}
