{{- $pkg := "ztunnel" }}

{{- /* Create secret */ -}}
{{- if .Values.ztunnel.enabled }}
{{- include "values-secret" (dict "root" $ "package" (get .Values $pkg) "name" "ztunnel" "defaults" (include "bigbang.defaults.ztunnel" .)) }}
{{- end }}

{{- define "bigbang.defaults.ztunnel" -}}
upstream:
  global:
    imagePullPolicy: {{ .Values.imagePullPolicy }}
    imagePullSecrets:
      - private-registry
{{- end }}
