{{- $pkg := "ztunnel" }}

{{- /* Create secret */ -}}
{{- if .Values.ztunnel.enabled }}
{{- include "values-secret" (dict "root" $ "package" (get .Values $pkg) "name" "ztunnel" "defaults" (include "bigbang.defaults.ztunnel" .)) }}
{{- end }}

{{- define "bigbang.defaults.ztunnel" -}}
upstream:
  global:
    imagePullPolicy: {{ .Values.imagePullPolicy }}
    imagePullSecrets:
      - private-registry
    {{- /* Inherit hub/tag from istiod if set, allowing all Istio components to use same image source */}}
    {{- if (dig "values" "upstream" "global" "hub" "" .Values.istiod) }}
    hub: {{ .Values.istiod.values.upstream.global.hub }}
    {{- end }}
    {{- if (dig "values" "upstream" "global" "tag" "" .Values.istiod) }}
    tag: {{ .Values.istiod.values.upstream.global.tag }}
    {{- end }}
{{- end }}
