{{- if .Values.addons.fortify.enabled }}
{{- $fortifyPackage := deepCopy .Values.addons.fortify -}}
{{- if .Values.addons.fortify.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.addons.fortify.values) | fromYaml -}}
{{- $fortifyPackage = set $fortifyPackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict
  "root" $
  "package" $fortifyPackage
  "name" "fortify"
  "defaults" ((mergeOverwrite (include "bigbang.defaults.fortify" . | fromYaml) (include "bigbang.fortify.bb-common-migrations" . | fromYaml)) | toYaml)
)}}
{{- end }}

{{- define "bigbang.defaults.fortify" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardened := or (dig "istio" "hardened" "enabled" false .Values.addons.fortify.values) (dig "hardened" "enabled" false .Values.istiod.values) }}

domain: {{ .Values.domain }}

openshift: {{ .Values.openshift }}

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ $istioHardened }}
  sidecar:
    enabled: {{ $istioHardened }}
  authorizationPolicies:
    enabled: {{ $istioHardened }}

routes:
  inbound:
    fortify:
      enabled: true
      gateways:
        - {{ include "getGatewayName" (dict "gateway" .Values.addons.fortify.ingress.gateway "root" .) }}
      hosts:
        - fortify.{{ .Values.domain }}
      service: fortify-ssc-service
      port: 80
      selector:
        app.kubernetes.io/name: fortify-ssc
        app.kubernetes.io/component: webapp

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  egress:
    from:
      keystore-job:
        podSelector:
          matchLabels:
            job: keystore-generator
        to:
          definition:
            kubeAPI: true

{{- end }}
