{{- $pkg := "fortify" }}

{{- /* Create secret */ -}}
{{- if (get .Values.addons $pkg).enabled }}
{{- include "values-secret" (dict "root" $ "package" (get .Values.addons $pkg) "name" $pkg "defaults" (include (printf "bigbang.defaults.%s" $pkg) .)) }}
{{- end }}

{{- define "bigbang.defaults.fortify" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or
  (dig "istio" "hardened" "enabled" false .Values.addons.fortify.values)
  (dig "hardened" "enabled" false .Values.istiod.values)
}}

imagePullSecrets:
- name: private-registry
imagePullPolicy: {{ .Values.imagePullPolicy }}

externalURL: https://fortify.{{ .Values.domain }}

domain: {{ .Values.domain }}

istio:
  enabled: {{ $istioEnabled }}
  sidecar:
    enabled: {{ $istioHardenedEnabled }}
  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: {{ $istioHardenedEnabled }}

routes:
  inbound:
    fortify:
      gateways:
        - {{ include "getGatewayName" (dict "gateway" .Values.addons.fortify.ingress.gateway "root" .)}}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  ingress:
    to:
      fortify:8001:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
  egress:
    from:
      fortify:
        to:
          k8s:
            tempo/tempo:9411: {{ default false .Values.tempo.enabled }}

openshift: {{ .Values.openshift }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

sso:
  enabled: {{ default "false" .Values.addons.fortify.sso.enabled }}

{{- end }}
