{{- if .Values.addons.gitlabRunner.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.addons.gitlabRunner "name" "gitlab-runner" "defaults" (include "bigbang.defaults.gitlab-runner" .)) }}
{{- end }}

{{- define "bigbang.defaults.gitlab-runner" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioInjection := and $istioEnabled (eq (dig "istio" "injection" "disabled" .Values.addons.gitlabRunner) "enabled") }}
# Passthrough chart upstream config (main gitlab-runner chart values)
upstream:
  imagePullPolicy: {{ .Values.imagePullPolicy }}

  imagePullSecrets:
  - name: private-registry

  podLabels:
    app.kubernetes.io/name: gitlab-runner

  metrics:
    enabled: {{ .Values.monitoring.enabled }}
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}
      {{- if and $istioInjection (eq (dig "istio" "mtls" "mode" "STRICT" .Values.addons.gitlabRunner.values) "STRICT") .Values.monitoring.enabled }}
      scheme: https
      tlsConfig:
        caFile: /etc/prom-certs/root-cert.pem
        certFile: /etc/prom-certs/cert-chain.pem
        keyFile: /etc/prom-certs/key.pem
        insecureSkipVerify: true
      {{- end }}
    podMonitor:
      enabled: false

  service:
    enabled: {{ .Values.monitoring.enabled }}

  # When istio injected, add an annotation with the istio version to the manager pods only
  {{- if and (eq (dig "istio" "injection" "enabled" .Values.addons.gitlab) "enabled") $istioEnabled }}
  podAnnotations:
    {{ include "istioAnnotation" . }}
  {{- end }}


istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or
      (dig "istio" "hardened" "enabled" false .Values.addons.gitlab.values)
      (dig "istio" "hardened" "enabled" false .Values.addons.gitlabRunner.values)
      (dig "hardened" "enabled" false .Values.istiod.values)
    }}
  injection: {{ dig "istio" "injection" "disabled" .Values.addons.gitlabRunner }}


networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  egress:
    from:
      gitlab-runner:
        to:
          k8s:
            gitlab/*: true
          definition:
            kubeAPI: true
  ingress:
    to:
      gitlab-runner:9252:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
  additionalPolicies: []

openshift: {{ .Values.openshift }}


monitoring:
  enabled: {{ .Values.monitoring.enabled }}

# autoRegister requires kyverno
{{- if and .Values.kyverno.enabled .Values.addons.gitlab.enabled }}
autoRegister:
  enabled: {{ dig  "autoRegister" "enabled" "true" .Values.addons.gitlabRunner }}
{{- end }}

{{- end -}}
