{{- if or .Values.kyverno.enabled .Values.kyvernoPolicies.enabled .Values.kyvernoReporter.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.kyverno "name" "kyverno" "defaults" (include "bigbang.defaults.kyverno" .)) }}
{{- end }}

{{- define "bigbang.defaults.kyverno" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}

{{- $legacyPorts := dig "networkPolicies" "externalRegistries" "ports" list .Values.kyverno.values }}
{{- $definitionDefaultPort := list (dict "port" 443 "protocol" "TCP") }}
{{- $definitionPorts := dig "networkPolicies" "egress" "definitions" "registry" "ports" $definitionDefaultPort .Values.kyverno.values }}
{{- $allPorts := concat $legacyPorts $definitionPorts }}
{{- $allPortsSanitized := list }}
{{- range $allPorts }}
  {{- $allPortsSanitized = append $allPortsSanitized (dict "port" (int .port) "protocol" (default "TCP" .protocol | upper)) }}
{{- end }}
{{- $uniquePorts := uniq $allPortsSanitized }}

istio:
  enabled: {{ $istioEnabled }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  ingress:
    defaults:
      allowPrometheusToIstioSidecar:
        enabled: false
    definitions:
      kubeAPI:
        from:
        {{- if or (eq .Values.networkPolicies.controlPlaneCidr "0.0.0.0/0") (eq .Values.networkPolicies.vpcCidr "0.0.0.0/0") }}
          - ipBlock:
              cidr: "0.0.0.0/0"
        {{- else }}
          - ipBlock:
              cidr: {{ .Values.networkPolicies.controlPlaneCidr }}
          - ipBlock:
              cidr: {{ .Values.networkPolicies.vpcCidr }}
        {{- end }}
    to:
      kyverno-admission-controller:9443:
        podSelector:
          matchLabels:
            app.kubernetes.io/component: admission-controller
        from:
          definition:
            kubeAPI: true
      kyverno:8000:
        podSelector:
          matchLabels:
            app.kubernetes.io/instance: kyverno-kyverno
        from:
          k8s:
            monitoring/prometheus: {{ .Values.monitoring.enabled }}
  egress:
    defaults:
      allowIstiod:
        enabled: false
    definitions:
      kubeAPI:
        to:
        {{- if or (eq .Values.networkPolicies.controlPlaneCidr "0.0.0.0/0") (eq .Values.networkPolicies.vpcCidr "0.0.0.0/0") }}
          - ipBlock:
              cidr: "0.0.0.0/0"
              except:
              - 169.254.169.254/32
        {{- else }}
          - ipBlock:
              cidr: {{ .Values.networkPolicies.controlPlaneCidr }}
          - ipBlock:
              cidr: {{ .Values.networkPolicies.vpcCidr }}
        {{- end }}
      private-registry:
        to:
          - ipBlock:
              cidr: "15.205.173.153/32"
        ports:
        {{- toYaml $uniquePorts | nindent 10 }}
    from:
      kyverno-admission-controller:
        podSelector:
          matchLabels:
            app.kubernetes.io/component: admission-controller
        to:
          definition:
            registry: {{ dig "networkPolicies" "externalRegistries" "allowEgress" true .Values.kyverno.values }}
            kubeAPI: true
openshift: {{ .Values.openshift }}

upstream:

  fullnameOverride: kyverno-kyverno

  replicaCount: 3

  image:
    pullSecrets:
    - name: private-registry
    pullPolicy: {{ .Values.imagePullPolicy }}

  grafana:
    enabled: {{ .Values.monitoring.enabled }}
    namespace: monitoring

  admissionController:
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}

  backgroundController:
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}

  cleanupController:
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}

  reportsController:
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}


{{- end -}}
