{{- if .Values.loki.enabled }}
{{- /* Create a cleaned copy of loki config and merge deprecated paths into current paths */ -}}
{{- $lokiPackage := deepCopy .Values.loki -}}
{{- if .Values.loki.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.loki.values) | fromYaml -}}
{{- $lokiPackage = set $lokiPackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict "root" $ "package" $lokiPackage "name" "loki" "defaults" (include "bigbang.defaults.loki" .)) }}
{{- end }}

{{- define "bigbang.defaults.loki" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.loki.values) (dig "hardened" "enabled" false .Values.istiod.values) (dig "hardened" "enabled" false .Values.loki.values) }}
{{- $minioEnabled := dig "minio" "enabled" false .Values.loki.values }}

clusterName: ""

openshift: {{ .Values.openshift }}

istio:
  enabled: {{ $istioEnabled }}

  hardened:
    enabled: {{ or (dig "istio" "hardened" "enabled" false .Values.loki.values) (dig "hardened" "enabled" false .Values.istiod.values) }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: true

imagePullSecrets:
  - name: private-registry

image:
  pullPolicy: {{ .Values.imagePullPolicy }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  ingress:
    to:
      logging-loki:3100:
        from:
          k8s:
            alloy-alloy-operator@alloy/alloy: {{ .Values.alloy.enabled }}
            alloy-alloy-logs@alloy/alloy-logs: {{ .Values.alloy.enabled }}
            fluentbit-fluent-bit@fluentbit/fluent-bit: {{ .Values.fluentbit.enabled }}
            monitoring-grafana@monitoring/grafana: {{ .Values.grafana.enabled }}
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
      minio:9000:
        from:
          k8s:
            minio-operator@minio-operator/minio-operator: {{ $minioEnabled }}
  egress:
    definitions:
      storage-subnets:
        {{ toYaml ( index .Values.networkPolicies.egress.definitions "storage-subnets") | nindent 8 }}
      kubeAPI:
        to:
          - ipBlock:
              cidr: {{ .Values.networkPolicies.controlPlaneCidr }}
    from:
      logging-loki:
        to:
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
          definition:
            storage-subnets: {{ not $minioEnabled }}
      minio:
        to:
          k8s:
            minio-operator/minio-operator:4222: {{ $minioEnabled }}
          definition:
            storage-subnets: {{ $minioEnabled }}
            kubeAPI: {{ $minioEnabled }}
monitoring:
  enabled: {{ .Values.monitoring.enabled }}
  serviceMonitor:
    enabled: {{ .Values.monitoring.enabled }}
    # conditional passes only for default istio: enabled, mTLS: SCRICT
    {{- if and $istioEnabled (eq (dig "istio" "mtls" "mode" "STRICT" .Values.loki.values) "STRICT") }}
    scheme: https
    tlsConfig:
      caFile: /etc/prom-certs/root-cert.pem
      certFile: /etc/prom-certs/cert-chain.pem
      keyFile: /etc/prom-certs/key.pem
      insecureSkipVerify: true  # Prometheus does not support Istio security naming, thus skip verifying target pod certificate
    {{- end }}
  rules:
    enabled: true
    alerting: true

{{- $disableDefaultFLB := dig "additionalOutputs" "disableDefault" false .Values.fluentbit.values }}
{{- if and .Values.fluentbit.enabled (not $disableDefaultFLB) }}
fluentbit:
  enabled: true
{{- end }}

loki:
  extraMemberlistConfig:
    bind_addr:
      - ${MY_POD_IP}
  storage:
    {{- if (and (eq .Values.loki.strategy "monolith") (not (dig "minio" "enabled" false .Values.loki.values))) }}
    type: "filesystem"
    {{- else }}
    type: "s3"
    bucketNames:
      {{- toYaml .Values.loki.objectStorage.bucketNames | nindent 6 }}
    s3:
      endpoint: {{ .Values.loki.objectStorage.endpoint }}
      region: {{ .Values.loki.objectStorage.region }}
      accessKeyId: {{ .Values.loki.objectStorage.accessKey }}
      secretAccessKey: {{ .Values.loki.objectStorage.accessSecret }}
    {{- end }}
  {{- if (and (eq .Values.loki.strategy "monolith") (not (dig "minio" "enabled" false .Values.loki.values))) }}
  rulerConfig:
    storage:
      type: local
  storage_config:
    boltdb_shipper:
      active_index_directory: /var/loki/boltdb-shipper-active
      cache_location: /var/loki/boltdb-shipper-cache
      cache_ttl: 24h
    filesystem:
      directory: /var/loki/chunks
  {{- end }}
  # The bbctl violations dashboard output can be larger than the default loki line limit of 256KB
  # Setting max_line_size = 0 removes the limit so the data can be ingested properly
  {{- if .Values.bbctl.enabled }}
  limits_config:
    max_line_size: 0
  {{- end }}
  {{- if $istioEnabled }}
  podAnnotations:
    {{ include "istioAnnotation" . }}
  {{- end }}

{{- if (eq .Values.loki.strategy "monolith") }}
deploymentMode: SingleBinary
singleBinary:
  replicas: 1
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
{{- end }}

{{- if (eq .Values.loki.strategy "scalable") }}
deploymentMode: SimpleScalable
singleBinary:
  replicas: 0
read:
  replicas: 3
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
write:
  replicas: 3
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
backend:
  replicas: 3
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
gateway:
  enabled: true
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
{{- end }}

# Allows users to deploy distributed mode but calls out that we do not support it
{{- if (eq .Values.loki.strategy "distributed") }}
deploymentMode: Distributed
singleBinary:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

gateway:
  enabled: true
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP

ingester:
  replicas: 3
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
querier:
  replicas: 3
  maxUnavailable: 2
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
queryFrontend:
  replicas: 2
  maxUnavailable: 1
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
queryScheduler:
  replicas: 2
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
distributor:
  replicas: 3
  maxUnavailable: 2
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
compactor:
  replicas: 1
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
indexGateway:
  replicas: 2
  maxUnavailable: 1
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
bloomPlanner:
  replicas: 0
bloomBuilder:
  replicas: 0
bloomGateway:
  replicas: 0
{{- end -}}

{{- end -}}
