---
# Enables and configures packages for [Appliance Mode](../../../guides/deployment-scenarios/appliance-mode.md):
istio:
  values:
    istiod:
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: null
          memory: 256Mi
    values:
      global:
        proxy:
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: null
              memory: 128Mi
        proxy_init:
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: null
              memory: 128Mi

istioOperator:
  values:
    operator:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: null
          memory: 128Mi

jaeger:
  enabled: false

kiali:
  enabled: false

clusterAuditor:
  enabled: false
  values:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: null
        memory: 256Mi

gatekeeper:
  enabled: false
  values:
    replicas: 1
    controllerManager:
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: null
          memory: 256Mi
    audit:
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: null
          memory: 512Mi

kyverno:
  enabled: true
  values:
    replicaCount: 1
    resources:
      limits:
        cpu: null
        memory: 512Mi
      requests:
        cpu: 350m
        memory: 512Mi

kyvernoReporter:
  enabled: true
  values:
    resources:
      limits:
        cpu: null
        memory: 100Mi
      requests:
        cpu: 50m
        memory: 100Mi

kyvernoPolicies:
  enabled: true 

elasticsearchKibana:
  enabled: false

eckOperator:
  enabled: false

fluentbit:
  enabled: false

promtail:
  enabled: true
  values:
    resources:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: null
        memory: 32Mi

loki:
  enabled: true
  values:
    singleBinary:
      replicas: 1
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: null
          memory: 256Mi

neuvector:
  enabled: false
  values:
    controller:
      replicas: 1
    resources:
      limits:
        cpu: null
        memory: 768Mi
      requests:
        cpu: 100m
        memory: 768Mi
    cve:
      scanner:
        replicas: 1
    k3s:
      enabled: true

tempo:
  enabled: true
  values:
    tempo:
      resources:
        limits:
          cpu: null
          memory: 256Mi
        requests:
          cpu: 200m
          memory: 256Mi
    tempoQuery:
      resources:
        limits:
          cpu: null
          memory: 256Mi
        requests:
          cpu: 100m
          memory: 256Mi


monitoring:
  values:
    prometheus:
      prometheusSpec:
        resources:
          requests:
            cpu: 100m
            memory: 2Gi
          limits:
            cpu: null
            memory: 2Gi
    kube-state-metrics:
      resources:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          cpu: null
          memory: 128Mi
    prometheus-node-exporter:
      hostRootFsMount:
        enabled: false
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: null
          memory: 128Mi
    grafana:
      testFramework:
        enabled: false
    prometheusOperator:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: null
          memory: 128Mi
      prometheusConfigReloader:
        resources:
          requests:
            cpu: 50m
            memory: 50Mi
          limits:
            cpu: null
            memory: 50Mi

twistlock:
  enabled: true
  values:
    resources:
      requests:
        memory: 512Mi
        cpu: 50m
      limits:
        memory: 512Mi
        cpu: null
    init:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi 
        limits:
          cpu: null
          memory: 128Mi 
