{{- if .Values.addons.vault.enabled }}
{{- /* Create a cleaned copy of vault config and merge deprecated paths into current paths */ -}}
{{- $vaultPackage := deepCopy .Values.addons.vault -}}
{{- if .Values.addons.vault.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.addons.vault.values) | fromYaml -}}
{{- $vaultPackage = set $vaultPackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict "root" $ "package" $vaultPackage "name" "vault" "defaults" (include "bigbang.defaults.vault" .)) }}
{{- end }}

{{- define "bigbang.defaults.vault" -}}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.addons.vault.values) (dig "hardened" "enabled" false .Values.istiod.values) (dig "hardened" "enabled" false .Values.addons.vault.values) }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
domain: {{ $domainName }}

openshift: {{ .Values.openshift }}

upstream:
  global:
    imagePullSecrets:
    - name: private-registry

  injector:
    {{- if $istioEnabled }}
    annotations:
      {{ include "istioAnnotation" . }}
      traffic.sidecar.istio.io/excludeInboundPorts: "8080"
    {{- end }}
    image:
      pullPolicy: {{ .Values.imagePullPolicy }}
    {{- if .Values.kiali.enabled }}
    extraLabels:
      service.istio.io/canonical-name: vault-vault-agent-injector
    {{- end }}

  server:
    {{- if $istioEnabled }}
    annotations:
      {{ include "istioAnnotation" . }}
    {{- end }}
    image:
      pullPolicy: {{ .Values.imagePullPolicy }}
    {{- if .Values.kiali.enabled }}
    extraLabels:
      service.istio.io/canonical-name: vault-vault
    {{- end }}
    {{- if and .Values.addons.vault.ingress.cert .Values.addons.vault.ingress.key }}
    # In this context, we do not use any istio helpers (.vault.ingress.gateway would be "passthrough" in both istio versions)
    {{- if eq .Values.addons.vault.ingress.gateway "passthrough" }}
    volumes:
    - name: tls
      secret:
        secretName: vault-tls
    volumeMounts:
    - name: tls
      mountPath: "/vault/tls"
      readOnly: true
    {{- end }}
    {{- end }}
    # bbtests specific config for allowing auto-unseal and kms access
    {{- if (dig "values" "bbtests" "enabled" false .Values.addons.vault) }}
    ha:
      raft:
        config: |
          ui = true

          listener "tcp" {
            tls_disable = false
            address = "[::]:8200"
            cluster_address = "[::]:8201"
            tls_cert_file = "/vault/tls/tls.crt"
            tls_key_file  = "/vault/tls/tls.key"
            telemetry {
              unauthenticated_metrics_access = true
            }
          }

          storage "raft" {
            path = "/vault/data"

            retry_join {
              leader_api_addr = "https://vault-vault-0.vault-vault-internal:8200"
              leader_client_cert_file = "/vault/tls/tls.crt"
              leader_client_key_file = "/vault/tls/tls.key"
              leader_tls_servername = "vault.dev.bigbang.mil"
            }
          }

          seal "awskms" {
            region     = "us-gov-west-1"
            access_key = "{{ .Values.addons.vault.kms_access_key }}"
            secret_key = "{{ .Values.addons.vault.kms_secret_key }}"
            kms_key_id = "{{ .Values.addons.vault.kms_key_id }}"
            endpoint   = "https://kms.us-gov-west-1.amazonaws.com"
          }

          telemetry {
            prometheus_retention_time = "24h"
            disable_hostname = true
          }
          service_registration "kubernetes" {}
    {{- end }}


  csi:
    image:
      pullPolicy: {{ .Values.imagePullPolicy }}

  serverTelemetry:
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  # note: ztunnel does not exist yet, defaulting to false until ambient package is added
  hbonePortInjection:
    enabled: {{ dig "enabled" false (default dict .Values.ztunnel) }}
  ingress:
    to:
      vault:8200:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
  egress:
    from:
      vault:
        to:
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
      vault-agent-injector:
        to:
          definition:
            kubeAPI: true
      vault-autoinit:
        podSelector:
          matchLabels:
            batch.kubernetes.io/job-name: vault-vault-job-init
        to:
          definition:
            kubeAPI: 
              enabled: {{ dig "autoInit" "enabled" true .Values.addons.vault.values }}
              metadata:
                annotations:
                  helm.sh/hook: post-install
                  helm.sh/hook-weight: "-10"
                  helm.sh/hook-delete-policy: hook-succeeded,hook-failed,before-hook-creation

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ $istioHardenedEnabled }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: {{ $istioHardenedEnabled }}

{{- if $istioEnabled }}
minio:
  annotations:
    {{ include "istioAnnotation" . }}
{{- end }}        
{{- end -}}
