{{- $pkg := "istioCNI" }}

{{- /* Create secret */ -}}
{{- if .Values.istioCNI.enabled }}
{{- include "values-secret" (dict "root" $ "package" (get .Values $pkg) "name" "istio-cni" "defaults" (include "bigbang.defaults.istio-cni" .)) }}
{{- end }}

{{- define "bigbang.defaults.istio-cni" -}}
upstream:
  # Ambient mode is automatically enabled when ztunnel is enabled
  ambient:
    enabled: {{ .Values.ztunnel.enabled }}
  global:
    imagePullPolicy: {{ .Values.imagePullPolicy }}
    imagePullSecrets:
      - private-registry
{{- end }}
