# Fill in the following values then remove the ".example" suffix on this file's name

your_name = "YOUR NAME HERE"
aws_security_group_name = "YOUR AWS SECURITY GROUP NAME HERE"
aws_account_id = "YOUR AWS ACCOUNT ID HERE"